FUNCTIONS_KEY=your_functions_key
FUNCTIONS_ENV=your_functions_env
# The following variables are used for the Azure Cognitive Services Analyzer API
ANALYZER_ENDPOINT=your_analyzer_endpoint
ANALYZER_API_KEY=your_analyzer_api_key
ANALYZER_API_VERSION=your_analyzer_api_version
# The following variables are used for polling the results from Analyzer API
TIMEOUT_SECONDS=120
POLLING_SECONDS=1
